@import '../../common/colors.scss';

.movieCard{
    position: relative;
    background: $secondary-color;
    width: 238px;
    height: 365px;
    cursor: pointer;
    transition: all 0.4s;

    &:hover{
        transform: scale(1.1);
        transition: all 0.3s;
    }

    img{
        width: 238px;
        height: 265px;
    }
    .title-year{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        p{
            color: $font-primary;
            font-family: sans-serif;
        }
    }

    .favorite-div{
        position: absolute;
        right: 11px;
        bottom: 14px;
        .favorite {
            font-size: 18px;
            cursor: pointer;
            color: $primary-color;
        
            &.active {
              color: red;
            }
          }
    }
      
}
.custom-link{
    text-decoration: none;
}